body {
    background-color: aqua;
    font-family: 'League Gothic', sans-serif;
    text-align: center;
}

.logo {
    height: 250px;
    margin-top: 25px;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px;
    margin: 25px;
}

.game-area {
    height: 130px;
}

.btn {
    padding: 10px;
    border-radius: 15px;
    margin: 0 25px;
    transition-duration: .5s;
    font-size: 100px;
    height: 130px;
    width: 130px;
}

.btn:hover { 
    background-color: yellow;
    color: red;
    transform: scale(1.1);
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #9870d6;
    letter-spacing: 2px;
    height: 80px;
    width: 250px;
}

a:hover {
    color: red;
}

.active {
    border-bottom: 2px solid #9870d6;
}

.gameChoice {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 2rem;
    height: 80px;
}

#columnHead {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 2rem;
}

.results-column { 
    width: 33%;
    float: left;
    text-align: center;
    font-size: 2rem;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.column1 {
    text: center;
    font-size: 2rem;
}

.games-won,
.games-lost {
    color: red;
    padding-left: 1rem;
    ;
}

div.userLoss, div.computerLoss {
    opacity: 0.5;
    font-size: 4rem;
}

.computerWin {
    color: black;
    animation-name: winner;
    animation-duration: 2s;
    font-size: 4rem;

}

@keyframes winner{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

.userWin {
    color: red;
    animation-name: winner;
    animation-duration: 2s;
    font-size: 4rem;
}

@keyframes winner{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

div.loser {
    animation-name: loser;
    animation-duration: 2s;
    font-size: 4rem;
    opacity: 0.5;
}

@keyframes loser{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
    
}

.tie {
    animation-name: tie;
    animation-duration: 2s;
    font-size: 3rem;
}
    
@keyframes tie{
        0% {transform: scale(1);}
        50% {transform: scale(1.5);}
        100% {transform: scale(1);}
}

div.champion {
    padding-top: 50px;
    color: red;
    font-size: 16rem;
    animation-name: champion;
    animation-duration: 2s;
}

@keyframes champion{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}