body {
    background-color: aqua;
    font-family: 'League Gothic', sans-serif;
    text-align: center;
}

.logo {
    height: 250px;
    margin-top: 25px;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px;
    margin: 25px;
}

.game-area {
    height: 125px;
}

.btn {
    padding: 10px;
    border-radius: 15px;
    margin: 0 25px;
    transition-duration: .5s;
    font-size: 100px;
    height: 130px;
    width: 130px;
}

.btn:hover { 
    background-color: yellow;
    color: red;
    transform: scale(1.1);
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

#columnHead {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 2rem;
}

.results-column { 
    width: 33%;
    float: left;
    text-align: center;
    font-size: 2rem;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.column1 {
    text: center;
    font-size: 2rem;
}

.games-won,
.games-lost {
    color: red;
    padding-left: 1rem;
    ;
}

div.selection {
    font-size: 4rem;
}

div.winner {
    color: red;
    animation-name: winner;
    animation-duration: 2s;
}

@keyframes winner{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

.selection .winner {
    animation-name: winner;
    animation-duration: 5s;
    
    @keyframes winner{
        from {transform: scale(1);
            } to {
            transform: scale(1.5);}
    };
}